body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: #514f54;
    
}

.row {
    display: flex;
}

#display {
    height: 8vh;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    padding: 1vh;
}

button {
    width: 7vh;
    height: 6vh;
    background: #8c9091;
}

button#zero {
    width: 14vh;
}

.operator {
    background: #0072ce;
    color: white;
}